*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(63, 63, 63);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}
nav.scrolled{
    background-color: rgb(232, 232, 232);
}
nav .nav-center-items ul{
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
}
nav .nav-center-items ul a:active{
    color: white;
}
.button-download-div a{
    color: white;
    background-color: #06DFB3;
    padding: 10px;
    border-radius: 20px;
}
/* Estilos para la hamburguesa (inicialmente escondida en pantallas grandes) */
.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

/* Estilos para cuando el menú está abierto */
.hamburger-menu .bar.open {
    transform: rotate(45deg);
}

.hamburger-menu .bar.open:nth-child(2) {
    opacity: 0;
}

.hamburger-menu .bar.open:nth-child(3) {
    transform: rotate(-45deg);
}
@media (max-width:800px){
    /* Ocultar los enlaces de navegación por defecto */
    nav .nav-center-items ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: rgb(232, 232, 232);
    }
    nav .nav-center-items ul li{
        padding: 10px;
    }
    nav .nav-center-items ul.open{
        display: flex;

    }
    .hamburger-menu {
        display: flex;
        margin: 0 auto;
    }
}